<h1 class="large">
    <%= title %>
</h1>

<div class="flex-row">
    <% if (initialEndpoint) { %>
        <form id="login" method="post" action="<%- initialEndpoint %>">
            <span class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </span>
            <span class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </span>
            <% if (endpoints.length> 1) { %>
                <span class="form-group">
                    <label for="endpoint">Endpoint</label>
                    <select id="endpoint" name="endpoint">
                        <% endpoints.forEach(function(endpoint) { %>
                            <option value="<%= endpoint.loginURL %>">
                                <%= endpoint.displayName %>
                            </option>
                            <% }); %>
                    </select>
                </span>
                <% } %>
                    <span class="form-tools">
                        <button type="button" id="help">Help</button>
                        <button type="submit" style="flex: 1;">Login</button>
                    </span>
        </form>
        <% } %>
            <% if (strategies.length> 1) { %>
                <div class="method-group">
                    <% strategies.forEach(function(strategy) { %>
                        <a
                            href="<%= strategy.loginURL %><%= typeof redirect_url !== 'undefined' && redirect_url ? '?redirect_url=' + encodeURIComponent(redirect_url) : '' %>">
                            <div class="method-group__item button" title="Log in with <%= strategy.displayName %>">
                                <i class="fa <%= strategy.fontAwesomeIcon %>"></i>
                            </div>
                        </a>
                        <% }); %>
                            <% if (!initialEndpoint) { %>
                                <button type="button" id="help">Help</button>
                                <% } %>
                </div>
                <% } %>
                    <!-- If there is no endpoint or strategy, show some text -->
                    <% if (!initialEndpoint && !strategies.length) { %>
                        <p>
                            No login methods are available...
                        </p>
                        <% } %>
</div>

<dialog id="informationPopup">
    <h2>What's this?</h2>
    <p>
        Hidden behind this gate is a secret. To unlock it, you must provide the correct credentials.
    </p>
    <p>
        Having trouble? <%- admin_text %>
    </p>
    <form method="dialog">
        <button type="submit">Got it!</button>
    </form>
</dialog>

<script>
    const form = document.getElementById('login');
    const endpoint = document.getElementById('endpoint');

    if (endpoint)
        endpoint.addEventListener('change', () => {
            url = new URL(endpoint.value, window.location.href);
            form.setAttribute('action', url.href);
        });

    const helpButton = document.getElementById('help');
    const informationPopup = document.getElementById('informationPopup');

    if (helpButton && informationPopup)
        helpButton.addEventListener('click', () => {
            informationPopup.showModal();
        });

    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    if (form) {
        const csrfInput = document.createElement('input');
        csrfInput.type = 'hidden';
        csrfInput.name = '_csrf';
        csrfInput.value = csrfToken;
        form.appendChild(csrfInput);
    }
</script>